    @media (min-width: 1920px) {
        .m-show {
            display: none !important;
        }
        /** Above HD Screen **/
    }
    
    @media (max-width: 1600px) {
        /** For other big screen **/
    }
    
    @media (max-width: 1440px) {
        .m-show {
            display: none !important;
        }
        /** HD Laptop **/
    }
    
    @media (max-width: 1366px) {
        .m-show {
            display: none !important;
        }
    }
    
    @media (max-width: 1280px) {
        .strip-list li .btn {
            padding: 12px !important;
        }
        .strip-list li div:last-child {
            display: flex;
        }
    }
    
    @media (max-width: 1112px) {}
    
    @media (max-width: 1024px) {}
    
    @media (max-width: 980px) {}
    
    @media (max-width: 822px) {
        .strip-list li .btn {
            padding: 12px !important;
        }
        .m-hide {
            display: none;
        }
        .m-show {
            display: block !important;
        }
        .main-container {
            padding: 30px 0 !important;
        }
        h1 {
            font-size: 1.4rem !important;
        }
        h2 {
            font-size: 1rem !important;
        }
        .white-strip h3 {
            font-size: 1rem !important;
        }
        .btn-light {
            padding: 10px !important;
            font-size: 0.9rem !important;
        }
        .modal-header h5 {
            font-size: 1.2rem !important;
        }
        .navbar-collapse.collapse .nav {
            flex-direction: column;
            padding: 0;
            border: 1px solid #eee;
            border-width: 1px 0;
            margin-top: 10px;
            background-color: #F8F8F8;
        }
        .top-nav li {
            margin-left: 0 !important;
            border-bottom: 1px solid #ddd;
        }
        .top-nav li a {
            padding: 10px 15px;
        }
        .dropdown-menu.show {
            width: 100%;
        }
        .navbar-toggler {
            font-size: 1rem;
        }
        .m-show {
            display: block;
        }
        .m-hide {
            display: none !important;
        }
        .mb-mb-15 {
            margin-bottom: 15px !important;
        }
        .login-form h2,
        .whiteback h2 {
            font-size: 23px !important;
            margin: 25px 0 !important;
        }
        .m-left {
            text-align: left !important;
        }
        /* Login page style starts */
        .m-container {
            background: #F8F8F8;
        }
        .logo {
            position: relative !important;
            width: 100%;
            display: flex !important;
            align-items: center !important;
            top: inherit !important;
            left: inherit !important;
            justify-content: center;
            margin-bottom: 25px;
        }
        .logo h2 {
            margin: 0 0 0 15px !important;
        }
        .mobile-view {
            width: 100% !important;
        }
        .mobile-view img.main-img {
            display: none;
        }
        .whiteback {
            flex-direction: column;
            height: 100vh;
        }
        .whiteback .form-control {
            width: 420px !important;
        }
        /* Login page style ends */
        /* Dashboard style starts */
        .dashboard-info {
            padding: 10px 0 !important;
        }
        .action-box ul {
            flex-direction: column;
        }
        .action-box ul li {
            width: auto !important;
            height: auto !important;
            margin-bottom: 15px !important;
            padding-bottom: 10px !important;
        }
        .dashboard-info {
            padding: 0 !important;
        }
        .dashboard-info .title-tag {
            font-size: 1rem !important;
            margin-bottom: 20px !important;
        }
        /* Dashboard style ends */
        .strip-list li {
            flex-direction: column;
        }
        .strip-list li .btn {
            width: 100%;
            margin: 20px 0 0;
        }
        .document-box {
            margin: 10px 0 !important;
        }
        .strip-list li .strip-details img {
            margin-right: 15px !important;
        }
        .strip-list li .strip-details {
            width: 100%;
        }
        .strip-list li .strip-details h4 {
            font-size: 1rem !important;
        }
        .form__options {
            justify-content: inherit !important;
        }
        .feedbac-form,
        .form__options {
            flex-wrap: wrap;
        }
        .feedbac-form .rate-box,
        .feedbac-form .form-box {
            width: 100% !important;
            padding: 15px !important;
        }
        .form__answer {
            width: 30% !important;
            margin: 5px !important;
        }
        .form__answer label {
            padding: 20px 10px 10px 10px !important;
            font-size: 0.8rem !important;
        }
        label::before {
            font-size: 22px !important;
            line-height: 14px !important;
            margin-bottom: 10px !important;
        }
        .payment-process .payment-form,
        .payment-process .payment-details {
            display: block !important;
            width: 100% !important;
        }
        .payment-details table td {
            padding: 10px 0 !important;
        }
        .payment-details table {
            margin-bottom: 0 !important;
        }
        .order-detail-box table td,
        .order-detail-box table th,
        .order-detail-box {
            padding: 8px !important;
        }
    }
    
    @media (min-width: 896px) and (max-width: 896px) {
        .m-hide {
            display: none;
        }
        .m-show {
            display: block !important;
        }
        .main-container {
            padding: 30px 0 !important;
        }
        h1 {
            font-size: 1.4rem !important;
        }
        h2 {
            font-size: 1rem !important;
        }
        .white-strip h3 {
            font-size: 1rem !important;
        }
        .btn-light {
            padding: 10px !important;
            font-size: 0.9rem !important;
        }
        .modal-header h5 {
            font-size: 1.2rem !important;
        }
        .navbar-collapse.collapse .nav {
            flex-direction: column;
            padding: 0;
            border: 1px solid #eee;
            border-width: 1px 0;
            margin-top: 10px;
            background-color: #F8F8F8;
        }
        .top-nav li {
            margin-left: 0 !important;
            border-bottom: 1px solid #ddd;
        }
        .top-nav li a {
            padding: 10px 15px;
        }
        .dropdown-menu.show {
            width: 100%;
        }
        .navbar-toggler {
            font-size: 1rem;
        }
        .m-show {
            display: block;
        }
        .m-hide {
            display: none !important;
        }
        .mb-mb-15 {
            margin-bottom: 15px !important;
        }
        .login-form h2,
        .whiteback h2 {
            font-size: 23px !important;
            margin: 25px 0 !important;
        }
        .m-left {
            text-align: left !important;
        }
        /* Login page style starts */
        .m-container {
            background: #F8F8F8;
        }
        .logo {
            position: relative !important;
            width: 100%;
            display: flex !important;
            align-items: center !important;
            top: inherit !important;
            left: inherit !important;
            justify-content: center;
            margin-bottom: 25px;
        }
        .logo h2 {
            margin: 0 0 0 15px !important;
        }
        .mobile-view {
            width: 100% !important;
        }
        .mobile-view img.main-img {
            display: none;
        }
        .whiteback {
            flex-direction: column;
            height: 100vh;
        }
        .whiteback .form-control {
            width: 100% !important;
        }
        /* Login page style ends */
        /* Dashboard style starts */
        .dashboard-info {
            padding: 10px 0 !important;
        }
        .action-box ul {
            flex-direction: column;
        }
        .action-box ul li {
            width: auto !important;
            height: auto !important;
            margin-bottom: 15px !important;
            padding-bottom: 10px !important;
        }
        .dashboard-info {
            padding: 0 !important;
        }
        .dashboard-info .title-tag {
            font-size: 1rem !important;
            margin-bottom: 20px !important;
        }
        /* Dashboard style ends */
        .strip-list li {
            flex-direction: column;
        }
        .strip-list li .btn {
            width: 100%;
            margin: 20px 0 0;
        }
        .document-box {
            margin: 10px 0 !important;
        }
        .strip-list li .strip-details img {
            margin-right: 15px !important;
        }
        .strip-list li .strip-details {
            width: 100%;
        }
        .strip-list li .strip-details h4 {
            font-size: 1rem !important;
        }
        .form__options {
            justify-content: inherit !important;
        }
        .feedbac-form,
        .form__options {
            flex-wrap: wrap;
        }
        .feedbac-form .rate-box,
        .feedbac-form .form-box {
            width: 100% !important;
            padding: 15px !important;
        }
        .form__answer {
            width: 30% !important;
            margin: 5px !important;
        }
        .form__answer label {
            padding: 20px 10px 10px 10px !important;
            font-size: 0.8rem !important;
        }
        label::before {
            font-size: 22px !important;
            line-height: 14px !important;
            margin-bottom: 10px !important;
        }
        .payment-process .payment-form,
        .payment-process .payment-details {
            display: block !important;
            width: 100% !important;
        }
        .payment-details table td {
            padding: 10px 0 !important;
        }
        .payment-details table {
            margin-bottom: 0 !important;
        }
        .order-detail-box table td,
        .order-detail-box table th,
        .order-detail-box {
            padding: 8px !important;
        }
    }
    
    @media (max-width: 768px) {}
    
    @media only screen and (max-width: 767px) {
        .main-container {
            padding: 30px 0 !important;
        }
        h1 {
            font-size: 1.4rem !important;
        }
        h2 {
            font-size: 1rem !important;
        }
        .white-strip h3 {
            font-size: 1rem !important;
        }
        .btn-light {
            padding: 10px !important;
            font-size: 0.9rem !important;
        }
        .modal-header h5 {
            font-size: 1.2rem !important;
        }
        .navbar-collapse.collapse .nav {
            flex-direction: column;
            padding: 0;
            border: 1px solid #eee;
            border-width: 1px 0;
            margin-top: 10px;
            background-color: #F8F8F8;
        }
        .top-nav li {
            margin-left: 0 !important;
            border-bottom: 1px solid #ddd;
        }
        .top-nav li a {
            padding: 10px 15px;
        }
        .dropdown-menu.show {
            width: 100%;
        }
        .navbar-toggler {
            font-size: 1rem;
        }
        .m-show {
            display: block;
        }
        .m-hide {
            display: none !important;
        }
        .mb-mb-15 {
            margin-bottom: 15px !important;
        }
        .login-form h2,
        .whiteback h2 {
            font-size: 23px !important;
            margin: 25px 0 !important;
        }
        .m-left {
            text-align: left !important;
        }
        /* Login page style starts */
        .m-container {
            background: #F8F8F8;
        }
        .logo {
            position: relative !important;
            width: 100%;
            display: flex !important;
            align-items: center !important;
            top: inherit !important;
            left: inherit !important;
            justify-content: center;
            margin-bottom: 25px;
        }
        .logo h2 {
            margin: 0 0 0 15px !important;
        }
        .mobile-view {
            width: 100% !important;
        }
        .mobile-view img.main-img {
            display: none;
        }
        .whiteback {
            flex-direction: column;
            height: 100vh;
        }
        .whiteback .form-control {
            width: 100% !important;
        }
        /* Login page style ends */
        /* Dashboard style starts */
        .dashboard-info {
            padding: 10px 0 !important;
        }
        .action-box ul {
            flex-direction: column;
        }
        .action-box ul li {
            width: auto !important;
            height: auto !important;
            margin-bottom: 15px !important;
            padding-bottom: 10px !important;
        }
        .dashboard-info {
            padding: 0 !important;
        }
        .dashboard-info .title-tag {
            font-size: 1rem !important;
            margin-bottom: 20px !important;
        }
        /* Dashboard style ends */
        .strip-list li {
            flex-direction: column;
        }
        .strip-list li .btn {
            width: 100%;
            margin: 20px 0 0;
        }
        .document-box {
            margin: 10px 0 !important;
        }
        .strip-list li .strip-details img {
            margin-right: 15px !important;
        }
        .strip-list li .strip-details {
            width: 100%;
        }
        .strip-list li .strip-details h4 {
            font-size: 1rem !important;
        }
        .feedbac-form,
        .form__options {
            flex-wrap: wrap;
        }
        .feedbac-form .rate-box,
        .feedbac-form .form-box {
            width: 100% !important;
            padding: 15px !important;
        }
        .form__answer {
            width: 49% !important;
        }
        .form__answer label {
            padding: 20px 10px 10px 10px !important;
            font-size: 0.8rem !important;
        }
        label::before {
            font-size: 22px !important;
            line-height: 14px !important;
            margin-bottom: 10px !important;
        }
        .payment-process .payment-form,
        .payment-process .payment-details {
            display: block !important;
            width: 100% !important;
        }
        .payment-details table td {
            padding: 10px 0 !important;
        }
        .payment-details table {
            margin-bottom: 0 !important;
        }
        .order-detail-box table td,
        .order-detail-box table th,
        .order-detail-box {
            padding: 8px !important;
        }
    }
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
        .main-container {
            padding: 50px 0 !important;
            background-size: cover !important;
            min-height: 90vh !important;
        }
        h1 {
            font-size: 1.8rem !important;
        }
        h2 {
            font-size: 18px !important;
        }
        .pro-no {
            margin: 20px auto !important;
        }
        .dashboard-info {
            margin: 20px 0 30px !important;
        }
        .whiteback .form-control {
            width: 98% !important;
        }
        .login-form h2,
        .whiteback h2 {
            font-size: 24px !important;
        }
        .whiteback .row {
            flex-direction: column !important;
        }
        .whiteback .row .col-md-6 {
            width: 100%;
            text-align: left !important;
        }
        .whiteback .btn {
            margin-top: 15px;
        }
        .action-box ul li {
            width: 100% !important;
            height: auto !important;
            margin: 0 5px !important;
        }
        .action-box ul li img {
            margin: 5px 0 !important;
        }
        .action-box ul li h3 {
            font-size: 15px !important;
            margin-bottom: 10px !important;
        }
    }