/* You can add global styles to this file, and also import other style files */

body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
}


/******************************************************
Common Classes Starts
*******************************************************/

.main-container {
    background: url("assets/images/main-bg.png") center top no-repeat;
    background-size: 100%;
    padding: 75px 0;
    min-height: 92vh;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    color: #272727!important;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
    height: 2.75rem;
    border-color: #acacac;
    padding: 0 1rem!important;
}

.btn-primary,
.swal2-styled.swal2-confirm {
    background: #7367f0;
    box-shadow: 0px 4px 16px 0px rgb(88 103 221 / 15%);
    border-radius: 4px;
    height: 45px;
    font-weight: 500;
    font-size: 1rem!important;
    padding: 0 30px;
}

.btn-primary:hover,
.btn-primary:focus,
.swal2-styled.swal2-confirm:hover {
    background: #6d62e3;
}

a {
    color: #7367f0 !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #005b9f;
    cursor: pointer;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 25px;
}

.modal-header {
    border-color: #E4E4E4;
}

.modal-header h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: none;
}

.modal-header h5.normal {
    text-transform: none;
}

.btn-light {
    background: #fff;
    border: 1px solid #7367f0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 35px;
}

.btn-light:hover {
    background: #7367f0!important;
    border-color: #7367f0!important;
    color: #fff !important;
}

.f-red {
    color: red !important;
}

.f-green {
    color: #0BA77D !important;
}

.f-black {
    color: #000 !important;
}

.yellow {
    color: #FEC95E !important;
}

.normal-tbl table td,
.normal-tbl table th {
    padding: 10px 15px;
}

.normal-tbl table th {
    color: #fff;
    font-weight: 500;
    background: #4b4b4b;
    font-size: .9rem!important;
}

.normal-tbl table td.green {
    color: #0BA77D;
}

.normal-tbl table tr.total {
    border-top: 1px solid #E4E4E4;
}

.normal-tbl table tr.total td {
    font-size: 18px;
}

.normal-tbl table tr.total td.amount {
    font-size: 20px;
    font-weight: 700;
    color: #0BA77D;
}


/******************************************************
Common Classes Ends
*******************************************************/


/******************************************************
Header Style Starts
*******************************************************/

.navbar-expand-lg .navbar-collapse {
    flex-grow: inherit;
}

.navbar.bg-light {
    background: #fff !important;
}

header {
    padding: 10px 0;
}

.logo-inner {
    display: flex;
    align-items: center;
}

.logo-inner img {
    height: 50px;
}

.logo-inner h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 0 0 0.7rem;
    color: #7367f0!important;
    font-size: 2.2rem!important;
}

.top-nav li {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.top-nav li a {
    font-size: 16px;
    font-weight: 500;
    color: #555 !important;
}

.top-nav li a.active {
    color: #7367f0 !important;
    background: none !important;
    border: 0;
}

.top-nav li a:hover {
    color: #333 !important;
    text-decoration: none !important;
}

.top-nav li.call a {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #7367f0 !important;
}

.top-nav li .dropdown-toggle::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free Solid";
    border: 0;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 0 0 5px;
}

.top-nav li.dropdown ul li {
    margin: 7px 0;
}

.top-nav li.dropdown ul li a {
    color: #777 !important;
    padding: 6px 15px;
    font-weight: normal;
}

.top-nav li.dropdown ul li a:hover,
.top-nav li.dropdown ul li a.active {
    background-color: #E8F1FD;
    color: #7367f0 !important;
    text-decoration: none !important;
}

.dropdown-menu.show {
    background: #FFFFFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 0;
}


/******************************************************
Header Style Ends
*******************************************************/


/******************************************************
Login Style Starts
*******************************************************/

.login-container {
    /*background: url("assets/images/login-dashboard.png") center bottom no-repeat;*/
    background-size: 700px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.login-container ul {
    margin: 0 0 0 50px;
    padding: 0;
}

.login-container ul li {
    line-height: 32px;
    font-weight: 500;
}

.login-form {
    width: 400px;
    border-radius: 8px;
    background: #fff;
    padding: 30px 25px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.login-form h2,
.whiteback h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 30px;
    padding: 0;
}

.login-form .btn,
.whiteback .btn {
    width: 100%;
    margin-bottom: 20px;
}


/******************************************************
Login Style Ends
*******************************************************/


/******************************************************
Footer Style Starts
*******************************************************/

footer {
    padding: 15px 0;
    text-align: center;
    color: #777;
}


/******************************************************
Footer Style Ends
*******************************************************/


/*************************
Custom Style Checkbox
*********************************/


/* The container */

.container-cbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container-cbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}


/* On mouse-over, add a grey background color */

.container-cbox:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-cbox input:checked~.checkmark {
    background-color: #0BA77D;
    border-color: #0BA77D;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-cbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-cbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 9px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*****************************
Strip list style starts
*******************************/

.strip-list {
    margin: 0;
    padding: 0;
}

.strip-list li {
    list-style: none;
    background: #FEFEFE;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.strip-list li:hover {
    background: #f5f4ff;
    border: 1px solid #9d93ff;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(3, 64, 144, 0.10);
}

.strip-list li .strip-details {
    display: flex;
    align-items: center;
}

.strip-list li .strip-details img {
    margin-right: 30px;
    max-width: 120px;
}

.strip-list li .strip-details h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 22px;
    color: #000;
}

.strip-list li .strip-details h4 span {
    color: #555;
    font-size: 14px;
}

.strip-list li .btn {
    margin-left: 5px;
}

.confirm-msg {
    text-align: center;
    font-size: 20px;
}

.confirm-msg i {
    color: #0BA77D;
    margin-bottom: 25px;
    font-size: 50px;
}

.confirm-msg p {
    margin: 0 0 25px;
    line-height: 50px;
}

.document-box {
    margin: 30px 0;
}

.document-box h3,
.inner-title {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 20px;
    color: #7367f0 !important;
}

.document-box h3.green {
    color: #0BA77D !important;
}

.document-box h3.red {
    color: #FF0000 !important;
}

.document-box h3.dark {
    color: #000 !important;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #6d62e3;
    cursor: pointer;
}

.imp-note {
    background: #FEFEFE;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
}

.imp-note .title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.imp-note ul {
    margin: 10px 0 0 20px;
    padding: 0;
}

.imp-note ul li {
    list-style: decimal;
    line-height: 34px;
    font-size: 14px;
}

.white-box-tbl {
    background: #FEFEFE;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px;
}

.white-box-tbl table th {
    color: rgba(85, 85, 85, 0.7);
    font-weight: 500;
    color: #000;
}

.white-box-tbl table td {
    color: #555;
}

.white-box-tbl table td,
.white-box-tbl table th {
    padding: 15px;
}

.btn-box {
    display: block;
    margin: 15px 0;
    text-align: right;
}

div.loading {
    height: 100px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    color: #fff;
}

router-outlet+div.loading {
    display: block;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.lds-roller {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    background: rgba(0, 0, 0, 1) !important;
    position: absolute;
    width: 100%;
    height: 100%;
}