<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Documents Submission</h1>
            <h2>We need you to supply some documentation to ensure small-scale technology certificate(STC)<br>eligibility and grid connection permits done correctly.</h2>
        </div>

        <div class="back-link mt-1">
            <a routerLink="/dashboard" routerLinkActive="active"><i _ngcontent-bpx-c20="" class="fas fa-angle-double-left"></i> Back</a>
        </div>

        <div class="document-box">
            <h3>Pending</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-ele.png" alt="" />
                        <h4>Electricity Bill<br>
                            <span>Upload all pages of electriticy bill to varify property address</span>
                        </h4>
                    </div>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Upload Document</button>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-council.png" alt="" />
                        <h4>Council Rates Notice<br>
                            <span>Upload the council rates notice if applicable</span>
                        </h4>
                    </div>
                    <button class="btn btn-primary">Upload Document</button>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-misc.png" alt="" />
                        <h4>Miscellaneous<br>
                            <span>Upload miscellaneous documents</span>
                        </h4>
                    </div>
                    <button class="btn btn-primary">Upload Document</button>
                </li>
            </ul>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Meter Box Photo</h5>
                        <a data-bs-dismiss="modal" aria-label="Close">Close</a>
                    </div>
                    <div class="modal-body">
                        <p>We will send project number to your registered email address</p>
                        <div class="input-group custom-file-button">
                            <input type="file" class="form-control" id="inputGroupFile" style="line-height: 35px;">
                            <!-- <label class="input-group-text" for="inputGroupFile">File Upload</label> -->
                            <label class="btn btn-primary" for="inputGroupFile" style="line-height: 50px;">File Upload</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggle2Label">Upload Meter Box Photo</h5>
                        <a data-bs-dismiss="modal" aria-label="Close">Close</a>
                    </div>
                    <div class="modal-body">
                        <div class="confirm-msg">
                            <i class="fas fa-check-circle"></i>
                            <p>Dear Jack Patel,<br>Thank you for uploading document.<br>Jack-Watsapp-Image2021-02-02.jpeg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="document-box">
            <h3 class="green">Completed</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-sign.png" alt="" />
                        <h4>Sign Quote/Contract<br>
                            <span>To view  or sign the contract  with e-signature</span>
                        </h4>
                    </div>
                    <button class="btn btn-light">View Document</button>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-meter.png" alt="" />
                        <h4>Meter Box Photo<br>
                            <span>Upload clear image with  of the full meter  board</span>
                        </h4>
                    </div>
                    <button class="btn btn-light">View Document</button>
                </li>
            </ul>
        </div>

    </div>
</div>