.document-box {
    margin: 30px 0;
}

.document-box h3 {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 20px;
    color: #7367f0 !important;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #6d62e3;
    cursor: pointer;
}