.feedbac-form {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
}

.feedbac-form .rate-box {
    color: #333;
    padding: 35px;
    font-size: 16px;
    width: 28%;
}

.feedbac-form .rate-box h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
}

.feedbac-form .rate-box label {
    display: block;
    margin-bottom: 5px
}

.feedbac-form .rate-box i {
    font-size: 22px;
    margin-right: 3px;
    color: #C8C8C8;
}

.feedbac-form .form-box {
    padding: 35px;
    border-left: 1px solid #D9D9D9;
    width: 70%;
}


/* .rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover i,
.rating-list li:hover~li i,
.rating-list li.selected i {
    color: #ffd700 !important;
}

.rating-list {
    display: inline-block;
    list-style: none;
} */

.rating-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rating-list li {
    font-size: 24px;
    float: right;
    color: #ddd;
    padding: 0 5px;
}

.rating-list li:hover {
    color: #ffd700;
}

.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list li.selected {
    color: #ffd700;
}