<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Review Submission</h1>
            <h2>We value your feedback and strive to improve our services to you.<br>We encourage you to leave feedback in order for us to better understand where we have performed well and where we need to improve.</h2>
            <img src="assets/images/feedback.png" alt="" class="img-fluid" />
        </div>
        <form>
            <div class="feedbac-form">
                <div class="rate-box">
                    <h5>Rate your experience*</h5>
                    <div class="mb-2">
                        <label>Price</label>
                        <!-- <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="far fa-star"></i> -->
                        <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span class="fa fa-star"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        <label>Product</label>
                        <ul class="list-inline rating-list" *ngFor="let star of stars1; let i= index">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span class="fa fa-star"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        <label>Installation</label>
                        <ul class="list-inline rating-list" *ngFor="let star of stars2; let i= index">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span class="fa fa-star"></span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label>Customer Service</label>
                        <ul class="list-inline rating-list" *ngFor="let star of stars3; let i= index">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span class="fa fa-star"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-box">
                    <div class="mb-4">
                        <label>Review Title*</label>
                        <input type="text" class="form-control" value="Installation done properely" required>
                    </div>
                    <div class="mb-4">
                        <label>Write Review *</label>
                        <textarea class="form-control" style="height:auto;" rows="5">Please write your review</textarea>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary">Submit Review</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>