.white-strip {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #0BA77D;
    border-radius: 4px;
    justify-content: space-between;
    margin: 20px 0;
}

.white-strip h3 {
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #000;
    font-weight: 600;
}

.white-strip h3 span {
    color: rgba(85, 85, 85, 0.7);
    font-size: 16px;
    font-weight: 500;
}

.order-detail-box {
    background: #FEFEFE;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    padding: 15px;
}

.order-detail-box table {
    width: auto;
}

.order-detail-box table th {
    color: rgba(85, 85, 85, 0.7);
    font-weight: 500;
}

.order-detail-box table td {
    color: #000;
}

.order-detail-box table td,
.order-detail-box table th {
    padding: 15px;
}

.btn-box {
    display: block;
    margin: 15px 0;
    text-align: right;
}

.payment-process {
    display: table;
    align-items: center;
}

.payment-process .payment-form,
.payment-process .payment-details {
    display: table-cell;
    padding: 25px;
    flex: 1;
    width: 50%;
}

.payment-process .payment-details {
    background-color: #F9F9F9;
    border-left: 1px solid #E4E4E4;
}

.pay-amount {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #E4E4E4;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
}

.payment-details h3 {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    margin: 0 0 20px;
    padding: 0;
}

.payment-details table td {
    padding: 15px 0;
    color: #333;
    font-size: 16px;
}

.payment-details table td.green {
    color: #0BA77D;
    border-bottom: 1px solid #E4E4E4;
}

.payment-details table td.total {
    font-size: 22px;
    font-weight: 600;
}

.payment-process .form-check .label {
    font-size: 14px;
    line-height: 20px;
}

.form-control {
    color: #7367f0;
}

.confirm-msg {
    text-align: center;
    font-size: 20px;
}

.confirm-msg i {
    color: #0BA77D;
    margin-bottom: 25px;
    font-size: 50px;
}

.confirm-msg p {
    margin: 0 0 25px;
    line-height: 50px;
}