<div class="main-container">
    <div class="container">
        <h1>Order Details</h1>
        <h2>On this page you will find your system details</h2>
        <div class="back-link">
            <a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-angle-double-left"></i> Back</a>
            <div class="white-strip">
                <h3>Quotation & Contract<br><span>Download signed contract</span></h3>
                <a class="btn btn-light" href="{{ quoteLink }}" target="_blank">View PDF</a>
            </div>

            <div class="order-detail-box">
                <table class="table table-borderless">
                    <tr>
                        <th>Project</th>
                        <th>:</th>
                        <td>{{ projectNo }}</td>
                    </tr>
                    <tr>
                        <th>Roof Type</th>
                        <th>:</th>
                        <td>{{ roofType }}</td>
                    </tr>
                    <tr>
                        <th>Roof Angle</th>
                        <th>:</th>
                        <td>{{ roofAngle }}</td>
                    </tr>
                    <tr>
                        <th>Building Type</th>
                        <th>:</th>
                        <td>{{buildingType}}</td>
                    </tr>
                    <tr>
                        <th>Meter Phase</th>
                        <th>:</th>
                        <td>{{ meterPhase }} Phase</td>
                    </tr>
                    <tr>
                        <th>NMI No.</th>
                        <th>:</th>
                        <td>{{ nmiNumber }}</td>
                    </tr>
                    <tr>
                        <th>Installation Type </th>
                        <th>:</th>
                        <td>{{ installationType }}</td>
                    </tr>
                    <!-- <tr>
                        <th>Panels</th>
                        <th>:</th>
                        <td>{{ panels }}</td>
                    </tr>
                    <tr>
                        <th>Inverter(s)</th>
                        <th>:</th>
                        <td>{{ inverter }}</td>
                    </tr> -->
                    <tr *ngFor="let item of productItems">
                        <th>{{item.productType === 'Module' ? 'Panels' : item.productType === 'Inverters' ? 'Inverter(s)' : item.productType }}</th>
                        <th>:</th>
                        <td>{{ item.quantity + ' x ' + item.name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <!-- <td>Incorrect details please <a href="/">Click here</a></td> -->
                        <td>Incorrect details please</td>
                    </tr>
                </table>
                <div class="btn-box">
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">PAY NOW: ${{ paymentDue }} (AUD)</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">PRICING AND PAYMENT</h5>
                <a data-bs-dismiss="modal" aria-label="Close">Close</a>
            </div>
            <div class="modal-body p-0">
                <form>
                    <div class="payment-process">
                        <div class="payment-form">
                            <div class="pay-amount mb-3">
                                <span>Pay Now</span>
                                <span>$3450 (AUD)</span>
                            </div>
                            <input type="text" class="form-control mb-3" placeholder="Card Number">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Expiry Date">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                            <input type="text" class="form-control mt-3 mb-3" placeholder="Name on Card">

                            <label class="container-cbox">Please read, understand and accept the AriseSolar <a href="/">Terms and Conditions</a> and the Suppliers <a href="/">Terms and Conditions</a>.
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                        </div>
                        <div class="payment-details">
                            <h3>Payment Summary</h3>
                            <table class="table table-borderless">
                                <tr>
                                    <td>Deposit paid</td>
                                    <td class="text-end">$100.00</td>
                                </tr>
                                <tr>
                                    <td class="green">Pay now</td>
                                    <td class="green text-end">$3450.00</td>
                                </tr>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="total text-end">$3550.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Confirm & Pay</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalToggle2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggle2Label">PRICING AND PAYMENT</h5>
                <a data-bs-dismiss="modal" aria-label="Close">Close</a>
            </div>
            <div class="modal-body p-0">
                <form>
                    <div class="payment-process">
                        <div class="payment-form">
                            <div class="pay-amount mb-3">
                                <span>Pay Now</span>
                                <span>$3450 (AUD)</span>
                            </div>
                            <input type="text" class="form-control mb-3" placeholder="Card Number" value="1234 4567 1234 4789">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Expiry Date" value="11/22">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="CVV" value="453">
                                </div>
                            </div>
                            <input type="text" class="form-control mt-3 mb-3" placeholder="Name on Card" value="Mr Chirantan Raval">

                            <label class="container-cbox">Please read, understand and accept the AriseSolar <a href="/">Terms and Conditions</a> and the Suppliers <a href="/">Terms and Conditions</a>.
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </div>
                        <div class="payment-details">
                            <h3>Payment Summary</h3>
                            <table class="table table-borderless">
                                <tr>
                                    <td>Deposit paid</td>
                                    <td class="text-end">$100.00</td>
                                </tr>
                                <tr>
                                    <td class="green">Pay now</td>
                                    <td class="green text-end">$3450.00</td>
                                </tr>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="total text-end">$3550.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#confirmationMsg" data-bs-toggle="modal">Confirm & Pay</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="confirmationMsg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationMsgLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationMsgLabel">PAYMENT CONFIRMATION</h5>
                <a data-bs-dismiss="modal" aria-label="Close">Close</a>
            </div>
            <div class="modal-body">
                <div class="confirm-msg">
                    <i class="fas fa-check-circle"></i>
                    <p>Dear Jack Patel,<br> Thank you for booking with AriseSolar.<br> We will send you payment confirmation over your email.</p>
                </div>
            </div>
        </div>
    </div>
</div>