<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Refer your Friends or family and get rewarded!</h1>
            <h2>If you loved our service and want to refer a friend, please fill out the form below and<br>get rewarded for each successful referral.</h2>
            <img src="assets/images/refer-friend.png" alt="" class="img-fluid" />

            <div class="mt-5">
                <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#referModal">Refer Your Friend</button><br>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#viewReferl">View Refferals ({{ List.length }})</button>
            </div>
            
        </div>  
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="referModal" tabindex="-1" aria-labelledby="referModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title normal" id="referModalLabel">Add Your Friends or Family Member</h5>
                <a data-bs-dismiss="modal" aria-label="Close" #closerefer>Close</a>
            </div>
            <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="First Name" #FirstName="ngModel" name="FirstName" [(ngModel)]="formModel.FirstName" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Last Name" #LastName="ngModel" name="LastName" [(ngModel)]="formModel.LastName" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="email" class="form-control" placeholder="Email Address" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" email required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="tel" class="form-control" placeholder="Mobile Number" #Mobile="ngModel" name="Mobile" [(ngModel)]="formModel.Mobile" required [pattern]="mobNumberPattern" maxlength="10" minlength="10">
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" placeholder="Property Address" #PropertyAddress="ngModel" name="PropertyAddress" [(ngModel)]="formModel.PropertyAddress" required>
                        </div>
                    </div>
                    <label class="container-cbox">By filling this form I agree to Arise Solar <a href="/">Terms & Conditions</a>.
                    <input type="checkbox" name="agree" [(ngModel)]="formModel.agree" required>
                    <span class="checkmark"></span>
                </label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Reffer Now</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewReferl" tabindex="-1" aria-labelledby="viewReferlLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title normal" id="viewReferlLabel">View Refferals ({{ List.length }})</h5>
                <a data-bs-dismiss="modal" aria-label="Close">Close</a>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body normal-tbl">
                <table class="table table-borderless">
                    <tr>
                        <th>No.</th>
                        <th>Refferal Date</th>
                        <th>Friends Name</th>
                        <th>Project No</th>
                        <th>Contacted Date</th>
                        <th>System Size</th>
                        <th>Deposit paid</th>
                        <th>Paid Date</th>
                        <th>Referrals Paid</th>
                    </tr>
                    <!-- <tr>
                        <td>1</td>
                        <td>02-Dec-2020</td>
                        <td>Akash Pal</td>
                        <td>01-Jan-2021</td>
                        <td>9.9kW</td>
                        <td class="green">Yes</td>
                        <td>$150.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>10-Dec-2020</td>
                        <td>Lalit Pal</td>
                        <td>12-Jan-2021</td>
                        <td>6.6kW</td>
                        <td class="green">Yes</td>
                        <td>$100.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>15-Dec-2020</td>
                        <td>Rajesh Parmar</td>
                        <td>30-Feb-2021</td>
                        <td>6.6kW</td>
                        <td>No</td>
                        <td>$00.00</td>
                    </tr> -->
                    <tr *ngFor="let item of List; let i=index;">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.refferalDate | date:'dd-MMM-yyyy' }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.projectNo }}</td>
                        <td>{{ item.contactedDate | date:'dd-MMM-yyyy' }}</td>
                        <td>{{ item.systemSize === 0 ? '' : item.systemSize + 'kW' }}</td>
                        <td class="{{item.paidDate != null ? 'green' : '' }}">{{ item.paidDate != null ? 'Yes' : 'No' }}</td>
                        <td>{{ item.paidDate | date:'dd-MMM-yyyy' }}</td>
                        <td>{{ item.referralAmount === null ? '' : '$' + item.referralAmount }}</td>
                    </tr>
                    <tr class="total" *ngIf="sum">
                        <td colspan="6" class="text-end">Total:</td>
                        <td class="green amount">{{ sum }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>