<div class="container-fluid m-container">
    <div class="row">
        <div class="m-hide col-lg-8">
            <div class="loginbox">
                <div class="logo">
                    <img src="assets/images/logo_solarblue.svg" alt="" loading="lazy" />
                    <h2>salesdrive</h2>
                </div>
                <img src="assets/images/management_dashboard.svg" class="main-img" alt="" style="width:747px;" />
            </div>
        </div>

        <div class="mobile-view col-lg-4">
            <div class="whiteback">
                <div class="logo m-show">
                    <img src="assets/images/logo_solarblue.svg" alt="" loading="lazy" />
                    <h2>salesdrive</h2>
                </div>
                <div class="">
                    <h2 class="form-title">Welcome to Customer Portal</h2>
                    <p>Please sign-in to your account and start the adventure</p>

                    <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
                        <div class="mb-4 userbox">
                            <input type="email" class="form-control" placeholder="Email address" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required>
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="mb-3 userbox">
                            <input type="text" class="form-control" placeholder="Project No." #ProjectNo="ngModel" name="ProjectNo" [(ngModel)]="formModel.ProjectNo" required>
                            <i class="fas fa-list-ol"></i>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-6 text-end m-left mb-mb-15">
                                <a data-bs-toggle="modal" class="fg-link" data-bs-target="#exampleModal">Forgotten Project No. ?</a><br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="login-container" style="display:none">
        <div class="login-content">
            <h1>Welcome to Arise Solar !</h1>
            <h2>Login to access customer portal & other services.</h2>
            <ul>
                <li>Sign Quote/Contract</li>
                <li>Meter Box Photo</li>
                <li>Electricity Bill</li>
                <li>Council Rates Notice</li>
                <li>Miscellaneous</li>
            </ul>
        </div>
        <div class="login-form">
            <h2 class="form-title">Access Customer Portal</h2>
            <form>
                <div class="mb-4">
                    <input type="email" class="form-control" placeholder="Email address" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Project No." required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <a href="/dashboard">Dashboard</a>
            </form>
        </div>
    </div> -->

    <!-- Modal Forgot Project Number -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">What's My Project No?</h5>
                    <a data-bs-dismiss="modal" aria-label="Close" (click)="close()">Close</a>
                </div>
                <div class="modal-body">
                    <p>We will send project number to your registered email address</p>
                    <input type="email" email class="form-control" id="forgotemail" [(ngModel)]="femail" placeholder="Enter Your Email Address">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="forgotProject(femail)" [disabled]="!femail">Retrive Project Number</button>
                </div>
            </div>
        </div>
    </div>
</div>