.loginbox {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    position: relative;
}

.logo {
    position: absolute;
    top: 28px;
    left: 16px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
}

.logo h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 0 0 1rem;
    color: #7367f0!important;
    font-size: 2.4rem!important;
}

.whiteback {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.whiteback label {
    color: #0e2e3f!important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.whiteback h2 {
    color: #5e5873;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

.whiteback p {
    font-size: 13px;
    color: #6e6b7b!important;
    font-family: 'Montserrat', sans-serif;
}

.whiteback .userbox {
    position: relative;
}

.whiteback .userbox .form-control {
    padding-left: 50px !important;
}

.whiteback .userbox i {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #7367f0;
    font-size: 20px;
}

.whiteback a {
    color: #0e2e3f!important;
    position: relative;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.whiteback a:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    top: 1rem;
    left: 0;
    width: 0%;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.whiteback a:hover:after {
    border-bottom: 1px solid #3641de;
    opacity: 0.3;
    width: 100%;
}

.whiteback .form-control {
    width: 475px;
}