<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Billing</h1>
            <h2> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br>standard dummy text ever since the 1500s</h2>
            <img src="assets/images/img-billing.png" alt="" />
        </div>
        <div class="back-link mt-1">
            <a routerLink="/dashboard" routerLinkActive="active"><i _ngcontent-bpx-c20="" class="fas fa-angle-double-left"></i> Back</a>
        </div>
        <div class="document-box">
            <h3 class="red">Payment Due</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-pay.png" alt="" />
                        <h4>{{ projectNo }}<br>
                            <span *ngIf="invoicePdf != null"><a href="{{ invoicePdf }}">View Invoice</a></span>
                        </h4>
                    </div>
                    <div class="strip-details">
                        <h4>{{ customerName }}<br>
                            <span><a href="/">View Summary</a></span>
                        </h4>
                    </div>
                    <div class="strip-details">
                        <h4>${{ paymentDue }}<br>
                            <span class="f-red">Payment Due</span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-primary">PAY NOW: ${{ paymentDue }} (AUD)</button>
                </li>
            </ul>
        </div>

        <h3 class="inner-title f-black">Payment History</h3>
        <div class="white-box-tbl">
            <table class="table table-borderless">
                 <tr>
                    <th>SR. No.</th>
                    <th>Date</th>
                    <th>Payment Method</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Receipt</th>
                </tr>
                <!--<tr>
                    <td>1</td>
                    <td>02-Dec-2020</td>
                    <td>CC</td>
                    <td>Deposit</td>
                    <td>$200.00</td>
                    <td><a href="/">Download</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10-Dec-2020</td>
                    <td>CC</td>
                    <td>Deposit</td>
                    <td>$163.00</td>
                    <td><a href="/">Download</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10-Dec-2020</td>
                    <td>CC</td>
                    <td class="f-green">Refund</td>
                    <td class="f-green">$163.00</td>
                    <td></td>
                </tr> -->
                <tr *ngFor="let item of invoiceDetails; let i=index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.date | date:'dd-MMM-yyyy' }}</td>
                    <td>{{ item.paymentMethod }}</td>
                    <td class="{{item.description === 'Refund' ? 'f-green' : '' }}">{{ item.description }}</td>
                    <td class="{{item.description === 'Refund' ? 'f-green' : '' }}">${{ item.amount }}</td>
                    <td *ngIf="item.receipt != null"><a href="{{ url }}">Download</a></td>
                </tr>
            </table>

        </div>

    </div>
</div>