<div class="wrapper">
    <!-- HEADER STARTS -->
    <!-- <app-header></app-header> -->
    <!-- HEADER ENDS -->
    <router-outlet></router-outlet>

    <!-- <div class="loading">Loading...</div> -->

    <!-- <div class="main-container">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div> -->

    <!-- Footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- Footer Ends -->

    <!-- <ng-http-loader [backdrop]="false" [backgroundColor]="'#fff'" [debounceDelay]="100" [extraDuration]="300" [minDuration]="300" [spinner]="spinnerStyle.skThreeBounce"> -->
    <ng-http-loader [backdrop]="false" [backgroundColor]="'#fff'" [debounceDelay]="100" [extraDuration]="300" [minDuration]="300" [spinner]="spinnerStyle.skWanderingCubes">
    </ng-http-loader>
</div>