<div class="main-container">
    <div class="container">
        <h1>Dear {{ customerName }}</h1>
        <h2>Welcome to {{ customerName }} - Customer Portal</h2>
        <div class="pro-no">Project#: {{ projectNo }}</div>
        <div class="dashboard-info">
            <div class="title-tag">System Size: {{ systemKw }}kW - Project Progress</div>

            <div class="action-box">
                <ul>
                    <li class="complete" *ngIf="orderDettail">
                        <div routerLink="/orderdetails" routerLinkActive="active">
                            <div class="title">Completed</div>
                            <img src="assets/images/icon-order.png" alt="" />
                            <h3>Order Details</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="{{quoteLink}}" target="_blank">Download Document <img src="assets/images/icon-pdf.png" alt="" /></a>
                        </div> -->
                    </li>
                    <li *ngIf="!orderDettail">
                        <div routerLink="/orderdetails" routerLinkActive="active">
                            <div class="title">Pending</div>
                            <img src="assets/images/icon-order.png" alt="" />
                            <h3>Order Details</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="{{quoteLink}}" target="_blank">Download Document <img src="assets/images/icon-pdf.png" alt="" /></a>
                        </div> -->
                    </li>

                    <li>
                        <a routerLink="/my-documents" routerLinkActive="active">
                            <div class="title">Pending</div>
                            <img src="assets/images/icon-doc.png" alt="" />
                            <h3>Document<br>Submission</h3>
                        </a>
                        <!-- <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-pdf.png" alt="" /></a>
                        </div> -->
                    </li>

                    <li class="complete" *ngIf="installationDetails">
                        <div routerLink="/install-detail" routerLinkActive="active">
                            <div class="title">Completed</div>
                            <img src="assets/images/icon-install.png" alt="" />
                            <h3>Installation<br>Details</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-grid.png" alt="" /></a>
                        </div> -->
                    </li>
                    <li *ngIf="!installationDetails">
                        <div routerLink="/install-detail" routerLinkActive="active">
                            <div class="title">Pending</div>
                            <img src="assets/images/icon-install.png" alt="" />
                            <h3>Installation<br>Details</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-grid.png" alt="" /></a>
                        </div> -->
                    </li>

                    <li class="complete" *ngIf="gridConnApp">
                        <div routerLink="/grid-connection" routerLinkActive="active">
                            <div class="title">Completed</div>
                            <img src="assets/images/icon-doc.png" alt="" />
                            <h3>Grid Connection<br>Approval</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-grid.png" alt="" /></a>
                        </div> -->
                    </li>

                    <li *ngIf="!gridConnApp">
                        <div routerLink="/grid-connection" routerLinkActive="active">
                            <div class="title">Pending</div>
                            <img src="assets/images/icon-doc.png" alt="" />
                            <h3>Grid Connection<br>Approval</h3>
                        </div>
                        <!-- <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-grid.png" alt="" /></a>
                        </div> -->
                    </li>

                    

                    <li>
                        <a routerLink="/doc-warranty" routerLinkActive="active">
                            <div class="title">Pending</div>
                            <img src="assets/images/icon-waranty.png" alt="" />
                            <h3>Documents & Warranties</h3>
                        </a>
                        <div class="action">
                            <a href="/">Download Document <img src="assets/images/icon-grid.png" alt="" /></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>