.pro-no {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 360px;
    margin: 28px auto;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.dashboard-info {
    text-align: center;
    padding: 80px 0 30px;
}

.dashboard-info .title-tag {
    color: #272727;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.action-box ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.action-box ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #FEFEFE;
    border: 1px solid rgba(26, 115, 232, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 252px;
    height: 260px;
    position: relative;
}

.action-box ul li:hover {
    background: #EAF4FF;
    border: 1px solid #034090;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(3, 64, 144, 0.25);
}

.action-box ul li.complete {
    border: 1px solid #0BA77D;
}

.action-box ul li .title {
    text-align: center;
    padding: 12px 0;
    background: #e7e6f7;
    border-radius: 4px 4px 0 0;
}

.action-box ul li.complete .title {
    background: #0BA77D;
    color: #fff;
}

.action-box ul li img {
    margin: 10px 0;
}

.action-box ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.action-box ul li .action {
    display: none;
}

.action-box ul li.complete .action {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.action-box ul li.complete .action img {
    width: 20px;
    margin-left: 5px;
}

.action-box ul li:hover {
    cursor: pointer;
}