<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>How Can We Help</h1>
            <h2>Select Options below and one of our solar specialist will be in contact.</h2>
            <img src="assets/images/icon-contact.png" alt="" />
        </div>
        <div class="back-link mb-2">
            <a routerLink="/dashboard" routerLinkActive="active"><i _ngcontent-bpx-c20="" class="fas fa-angle-double-left"></i> Back</a>
        </div>

        <form>
            <fieldset class="form__options mb-2">
                <p class="form__answer">
                    <input type="radio" name="query_type" id="match_1" value="Refund Request" checked>
                    <label for="match_1">
                        Refund Request
                    </label>
                </p>

                <p class="form__answer">
                    <input type="radio" name="query_type" id="match_2" value="Installation Booking Request">
                    <label for="match_2">
                        Installation<br>Booking Request
                    </label>
                </p>
                <p class="form__answer">
                    <input type="radio" name="query_type" id="match_3" value="System Not workin">
                    <label for="match_3">
                        System Not<br>workin
                    </label>
                </p>
                <p class="form__answer">
                    <input type="radio" name="query_type" id="match_4" value="WIFI monitoring Setup Request">
                    <label for="match_4">
                        WIFI monitoring<br>Setup Request
                    </label>
                </p>
                <p class="form__answer">
                    <input type="radio" name="query_type" id="match_5" value="Other Request">
                    <label for="match_5">
                        Other Request
                    </label>
                </p>
            </fieldset>
            <textarea rows="6" class="form-control mb-4" style="height: auto;"></textarea>
            <div class="btn-box text-end">
                <button type="button" class="btn btn-primary">submit Request</button>
            </div>
        </form>


    </div>
</div>