/* Color palette */


/* Basic styles */


/* Form Styles */

.form__options {
    border: none;
    padding: 0;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.form__question {
    font-size: 16px;
    font-weight: 500;
}

.form__answer {
    display: flex;
    align-items: top;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 22px;
    text-align: center;
    width: 250px;
}

label {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 60px 10px 25px 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 16px;
    font-weight: 500;
}

label::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #ccc;
    display: block;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 28px;
}


/* Input style */

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"]:active~label {
    opacity: 1;
    border: 1px solid #7367f0;
}

input[type="radio"]:checked~label {
    border: 1px solid #7367f0;
}

input[type="radio"]:checked~label::before {
    opacity: 1;
    content: "\f058";
    color: #7367f0;
    font-family: "Font Awesome 5 Free Solid";
}

input[type="radio"]:checked~label::before {
    content: "\f058";
    color: #1A73E8;
    font-family: "Font Awesome 5 Free Solid";
}