<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Documents & Warranty</h1>
            <h2>On this page you will find important documents concerning needed your solar PV system,<br>you can read review and download each documents.</h2>
        </div>
        <div class="back-link mt-1">
            <a routerLink="/dashboard" routerLinkActive="active"><i _ngcontent-bpx-c20="" class="fas fa-angle-double-left"></i> Back</a>
        </div>

        <div class="document-box">
            <h3>Pending</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-pay.png" alt="" />
                        <h4>Compliance Certificate (CES or CCEW)<br>
                            <span>information text</span>
                        </h4>
                    </div>
                </li>
            </ul>
        </div>

        <div class="document-box">
            <h3 class="green">Received</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-cal.png" alt="" />
                        <h4>Quotation / Contract<br>
                            <span>information text</span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-light">View PDF</button>
                </li>
                <!-- <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-donation.png" alt="" />
                        <h4>Grid Connection Approval<br>
                            <span>A grid-connected system allows you to power your home or small business with renewable energy</span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-light">View Document</button>
                </li> -->
            </ul>
        </div>

        <div class="document-box">
            <h3 class="dark">Important documents</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/logo-solis.png" alt="" />
                        <h4>Solis 4G-AU 5 kW 3 Phase 2 MPPT Grid Connect<br>
                            <span>information text</span>
                        </h4>
                    </div>
                    <div>
                        <button type="button" class="btn btn-light">View PDF</button>
                        <button type="button" class="btn btn-light">Warranty</button>
                    </div>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/logo-solis.png" alt="" />
                        <h4>Astronergy AstroSemi 370W Black Frame 120 Half-Cut Cells Mono<br>
                            <span>information text</span>
                        </h4>
                    </div>
                    <div>
                        <button type="button" class="btn btn-light">View PDF</button>
                        <button type="button" class="btn btn-light">Warranty</button>
                    </div>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-guide.png" alt="" />
                        <h4>User Manual<br>
                            <span>A guide to your newly installed solar PV system.</span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-light">View PDF</button>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-guide.png" alt="" />
                        <h4>WIFI Setup Guide<br>
                            <span>A guide to your newly installed solar PV system.</span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-light">View PDF</button>
                </li>
            </ul>
        </div>



    </div>
</div>