<div class="main-container">
    <div class="container">
        <div class="text-center">
            <h1>Grid Connection Approval</h1>
            <h2>In this page you will find grid application status</h2>
        </div>

        <div class="back-link mt-1">
            <a routerLink="/dashboard" routerLinkActive="active"><i _ngcontent-bpx-c20="" class="fas fa-angle-double-left"></i> Back</a>
        </div>
        <div class="document-box">
            <h3 class="green" *ngIf="flag1">Completed</h3>
            <h3 *ngIf="!flag1">Pending</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="{{ imgLink }}" alt="" />
                        <h4>{{ meterApplicationDate }}<br>
                            <span>Meter Application Date</span>
                        </h4>
                    </div>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="{{ imgLink1 }}" alt="" />
                        <h4>{{ meterApplicationApprovedDate }}<br>
                            <span>Meter Application Approved Date</span>
                        </h4>
                    </div>
                </li>
            </ul>
        </div>

        <div class="document-box">
            <h3 class="green" *ngIf="flag2">Completed</h3>
            <h3 *ngIf="!flag2">Pending</h3>
            <ul class="strip-list">
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-nmi.png" alt="" />
                        <h4>{{ nmiNumber }}<br>
                            <span>NMI Number</span>
                        </h4>
                    </div>
                </li>
                <li>
                    <div class="strip-details">
                        <img src="assets/images/icon-agl.png" alt="" />
                        <h4>{{ energyProvider }}<br>
                            <span>Energy Provider</span>
                        </h4>
                    </div>
                </li>
            </ul>
        </div>

        <div class="imp-note">
            <div class="title">Important to know</div>
            <ul>
                <li>Please note that Grid Connection Approval in not an approval for the installation of a Net Meter.</li>
                <li>The Net Meter Will be installed by your Energy Retailer.</li>
                <li>It is your responsibility to communicate with your Energy retailer once the solar PV system is installed.</li>
                <li>We are not authorized to communicate with your Energy Retailer on your behalf.</li>
            </ul>
        </div>

    </div>
</div>