<!-- HEADER STARTS -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-decoration-none" href="#">
                <div class="logo-inner">
                    <img [src]="logo" alt="" loading="lazy" />
                    <h2>{{ displayName }}</h2>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav nav-pills top-nav">
                    <li class="call m-hide">
                        <a href="tel: {{ telPhone }}"><img src="assets/images/icon-call.png" alt="" />{{ telPhone }}</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Important Link
                  </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                            <li><a class="dropdown-item" routerLink="/my-documents" routerLinkActive="active">My documents</a></li>
                            <li><a class="dropdown-item" routerLink="/billing" routerLinkActive="active">Billing Information</a></li>
                            <li><a class="dropdown-item" href="#">FAQ</a></li>
                            <li><a class="dropdown-item" routerLink="/refer-friend" routerLinkActive="active">Refer a friend</a></li>
                            <li><a class="dropdown-item" routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
                            <li><a class="dropdown-item" routerLink="/contact" routerLinkActive="active">Requdets a call back</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-link" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" style="display: none;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <div class="logo-inner">
                        <img [src]="logo" alt="" loading="lazy" />
                        <h2>{{ displayName }}</h2>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
                    <ul class="nav nav-pills top-nav">
                        <li class="call">
                            <a href="tel: {{ telPhone }}"><img src="assets/images/icon-call.png" alt="" />{{ telPhone }}</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Important Link
                          </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                                <li><a class="dropdown-item" routerLink="/my-documents" routerLinkActive="active">My documents</a></li>
                                <li><a class="dropdown-item" routerLink="/billing" routerLinkActive="active">Billing Information</a></li>
                                <li><a class="dropdown-item" href="#">FAQ</a></li>
                                <li><a class="dropdown-item" routerLink="/refer-friend" routerLinkActive="active">Refer a friend</a></li>
                                <li><a class="dropdown-item" routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
                                <li><a class="dropdown-item" routerLink="/contact" routerLinkActive="active">Requdets a call back</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="nav-link px-2" (click)="logout()">Logout</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</header>
<!-- HEADER ENDS -->